<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Sodexo-menu</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles.css" type="text/css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Sodexo-menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Tänään</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="index.php/week">Tämä viikko</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <a href="/week/<?php echo $year . "/" . $nextweek; ?>">Seuraava viikko</a>
    <?php
    if($lastweek != null){
        echo "<a href=\"/week//$year/$lastweek\">Edellinen viikko</a>";
    }
    ?>
    </p>
    <?php
    if(isset($foods['0']['meta'])) {
        echo "<a href=\"" . $foods['0']['meta']['ref_url'] . "\"><h2>" . $foods['0']['meta']['ref_title'] . "</h2></a>";

        foreach ($foods as $menu) {
            echo "<h3>" . $menu['meta']['date'] . "</h3>";
            foreach ($menu['courses'] as $food) {
                echo "<div class=\"card\">";
                if (isset($food['category'])) {
                    echo "<div class=\"card-header\">" . $food['category'] . "</div>";
                }
                echo "<div class=\"card-block\">";
                echo "<h4 class=\"card-title\">";
                if (isset($food['title_fi'])) {
                    echo $food['title_fi'];
                }
                echo "</h4>";

                echo "<p class=\"card-text\">";
                if (isset($food['desc_fi'])) {
                    echo $food['desc_fi'];
                }
                echo "</p>";


                echo "<p class=\"card-text\">";
                if (isset($food['properties'])) {
                    echo "<b>Erikoisruokavaliot:</b> " . $food['properties'];
                }
                echo "</p>";


                echo "<p class=\"card-text\">";
                if (isset($food['price'])) {
                    echo "<b>Hinnat:</b> " . $food['price'];
                }
                echo "</p>";

                echo "</div>";
                echo "</div>";
            }
        }
    }else{
        echo "<p>Ravintola on suljettu, tai ruokalistaa ei ole saatavilla :(</p>";
    }
    ?>

</div>
</body>
</html>
